h1,h2,h3,h4,h5,h6{
	color: slategray;
	font: sans-serif;
}

table th {
	text-align: center;
	color: burlywood;
	font-weight: bold;
}
table {
	border: 1px solid black;
}

table td {
	border: 1px solid black;
	text-align: center;
}

[alt = "Broncos Logo"]{
	display: none;
}

[alt = "Bears Logo"]{
	display: none;
}


ul>li{
	list-style-type: square;
}

.hyperLink:hover {
	background-color: lightblue;
	text-decoration: none;
}

blockquote{
	background-color: black;
	color: lightblue;
}

#checkbox-grid li{
	list-style-type: none;
}

#teamRoster>li:first-child{
	list-style-type: none;
	background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
	background-size: 250px;
    background-position: left;
    background-repeat: no-repeat;
}

#teamRoster>li:last-child{
	list-style-type: none;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
	background-size: 250px;
    background-position: left;
    background-repeat: no-repeat;
}
